body {
  font-family: "Courier", serif;
}

ul {
  list-style: none;
}

li {
  font-size: 2rem;
}

h1 {
  color: red;
  text-align: center;
}

.wordsearch {
  text-transform: lowercase;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ws-ul {
  max-width: 500px;
  max-height: 500px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1.5%;
}

footer {
  text-align: center;
}